
/*media queries */
@media only screen and (max-width: 1100px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        padding-left: 20px;
        text-align: left;
        width: 100%;
        display: none;
        background-color: #0000EC;
        height: 280px;
        flex-direction: column;
        position: absolute;
        z-index: 3;
    }
    .menu a  {
        display: block;
        margin: 0;
        color: white;
    }
    #toggle {
        display: none;
    }
    #toggle:checked + .menu {
        display: block;
    }

    .header-logo {
        float: left;
        height: 30px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .header-container {
        height: 26px;
        padding: 11px 20px;
    }

/* section home */
    section.home div.container {
        padding-left: 30px;
        margin-top: 30px;
    }
    
    section.home h1.title {
        font-weight: normal;
        font-size: 36px;
    }

    section.home div.paragraph {
        width: 80%;
        font-size: 14px;
        margin-bottom: 56px;
    }

    section.episodes div.container {
        padding: 170px 100px 100px 100px;
    }

    /* section guests */
    section.guests div.guests-container {
        display: flex;
        flex-direction: column;
    }

    section.guests h2 {
        padding-left: 0px;
    }

    section.guests img.image {
        width: auto;
    }

    /* section episodes */
    section.episodes {
        height: 1550px;
    }
    section.episodes div.container {
        padding: 90px 40px 68px 50px;
    }

    section.episodes h2 {
        text-align: center;
    }

    section.episodes div.episode-container {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    section.episodes div.episode {
        height: 225px;
        width: 298px;
    }


    section.episodes div.episode {
        margin-bottom: 50px;
    }

    section.episodes div.episode:last-child {
        margin-bottom: 0;
    }    

    /* section us */
    section.us {
        height: 1200px;
        position: relative;
    }
    
    section.us div.container {
        padding: 0;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    section.us img.image-phone {
        height: 660px;
        width: 405px;
        position: relative;
        top: -150px;
    }
    
    section.us  p.paragraph {
        width: 464px;
    }
    
    section.us div.text-container {
        margin-left: 20px;
    }
    /* section subjects */
    section.subjects {
        height: auto;
    }

    section.subjects h2 {
        font-weight: normal;
        padding-left: 30px;
        width: 370px;
    }
    
    section.subjects div.container {
        margin-bottom: 50px;
    }

    section.subjects div.row-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.subjects div.image-container {
        text-align: center;
    }

    section.subjects div.item {
        height: 130px;
        width: 260px;
        margin-bottom: 50px;
    }

    section.subjects p.title-image {
        width: 220px;
        height: 32px;
        font-weight: bold;
        text-align: center;
    }

    /* section footer */
    footer div.container {
        background-color: #EFF0F1;
        height: 30px;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer span.icon {
        margin-right: 36px;
    }
    .social-media {
        text-align: center;
        margin-bottom: 5px;
    }
    .copyright {
        text-align: center;
        margin-bottom: 5px;
    }
}