body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}
h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}
.line-through {
    text-decoration: line-through;
}

.header-container {
    height: 36px;
    background-color: #D0CEDC;
    padding: 22px 100px;
}

.header-logo {
    float: left;
    height: 36px;
    /* padding: 22px 0; */
}

nav {
    float: right;
    text-transform: uppercase;
}


header::after {
    content: '';
    display: table;
    clear: both;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    float: left;
    margin-left: 10px;
}
nav a {
    text-decoration: none;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
}

.button {
    background-color: #00F3BB;
    height: 56px;
    width: 100%;
    border: none;
}

/* sections */

section.home div.container {
    padding-left: 200px;
}

section.home h1.title {
    margin: 0;
}

section.home h1.title {
    font-weight: normal;
}

section.home div.container-button {
    width: 226px
}

section.home div.paragraph {
    width: 628px;
    font-size: 16px;
}

section.news div.container-button {
    width: 345px
}