body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}
h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

.line-through {
    text-decoration: line-through;
}

.header-container {
    height: 36px;
    padding: 22px 100px;
}

.header-logo {
    float: left;
    height: 36px;
}

nav {
    float: right;
    text-transform: uppercase;
    position: relative;
    top: 5px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    margin-right: 48px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: #060A24;
}

nav a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

nav a:active {
    color: #060A24;
    text-decoration: line-through;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
}

.button {
    background-color: #00F3BB;
    height: 56px;
    width: 100%;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
}

.button:hover {
    color: #FFFFFF;
    background: linear-gradient(90deg, rgba(0,240,184,1) 35%, rgba(0,0,254,1) 100%);
}

/* section home */

section.home div.container {
    padding-left: 200px;
    margin-top: 120px;
}

section.home h1.title {
    margin: 0;
}

section.home h1.title {
    font-weight: normal;
}

section.home div.container-button {
    width: 226px;
}

section.home div.paragraph {
    width: 628px;
    font-size: 16px;
    margin-bottom: 56px;
}

/* section episodes */
section.episodes {
    position: relative;
    height: 1042px;
    background: linear-gradient(90deg, rgba(0,0,163,1) 35%, rgba(0,0,255,1) 100%);
}

section.episodes svg.top-triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vw;
}

section.episodes svg.bottom-triangle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}

section.episodes h2 {
    color: #FFFFFF;
    font-weight: normal;
}

section.episodes div.container {
    padding: 170px 100px 100px 100px;
}

section.episodes div.episode-container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.episodes div.episode {
    height: 232px;
    width: 584px;
}
/* section us */
section.us div.container {
    padding-left: 200px;
    display: flex;
    flex-direction: row;
}

section.us img.image-phone {
    height: 660px;
}

section.us  p.paragraph {
    width: 464px;
}

section.us div.text-container {
    margin-left: 64px;
}

/* section guests */
section.guests div.guests-container {
    display: flex;
}

section.guests h2 {
    padding-left: 200px;
}

section.guests img.image {
    width: 33%
}

/* section subjects */
section.subjects {
    height: 400px;
}
section.subjects h2 {
    font-weight: normal;
    padding-left: 200px;
}

section.subjects div.container {
    margin-bottom: 50px;
}

section.subjects div.row-container {
    padding: 0 200px;
    display: flex;
}

section.subjects div.image-container {
    text-align: center;
}

section.subjects div.item {
    height: 130px;
    width: 260px;
}

section.subjects p.title-image {
    width: 220px;
    height: 32px;
    font-weight: bold;
    text-align: center;
}

/* section news */
section.news {
    position: relative;
    height: 518px;
    background: linear-gradient(90deg, rgba(0,0,163,1) 35%, rgba(0,0,255,1) 100%);
}

section.news div.container {
    padding-top: 200px;
}

section.news svg.top-triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vw;
}

section.news h2 {
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}

section.news div.container-button {
    width: 345px;
    margin: auto;
}

/* section footer */
footer div.container {
    background-color: #EFF0F1;
    height: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

footer span.icon {
    margin-right: 36px;
}