body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}
h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}
.line-through {
    text-decoration: line-through;
}

.header-container {
    height: 36px;
    padding: 22px 100px;
}

.header-logo {
    float: left;
    height: 36px;
}

nav {
    float: right;
    text-transform: uppercase;
    position: relative;
    top: 5px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    float: left;
    margin-right: 48px;
}
nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: #060A24;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
}

.button {
    background-color: #00F3BB;
    height: 56px;
    width: 100%;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
}

/* section home */

section.home div.container {
    padding-left: 200px;
    margin-top: 120px;
}

section.home h1.title {
    margin: 0;
}

section.home h1.title {
    font-weight: normal;
}

section.home div.container-button {
    width: 226px
}

section.home div.paragraph {
    width: 628px;
    font-size: 16px;
    margin-bottom: 56px;
}

/* section episodes */
section.episodes div.container {
    padding: 0 100px;
}
section.episodes div.episode-container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.episodes div.episode {
    height: 232px;
    width: 584px;
}
/* section us */
section.us div.container {
    padding-left: 200px;
    display: flex;
    flex-direction: row;
}

section.us img.image-phone {
    height: 660px;
}

section.us  p.paragraph {
    width: 464px;
}

section.us div.text-container {
    margin-left: 64px;
}

/* section guests */
section.guests div.guests-container {
    display: flex;
}
section.guests h2 {
    padding-left: 200px;
}
section.guests img.image {
    height: 354px;
    width: 480px
}

/* section news */
section.news div.container-button {
    width: 345px
}